@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    font-family: roboto ;
}

.mb40 { margin-bottom: 40px; } 
.topic-items > div {
    margin: 5px auto;
}

.underlined {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}