body { font-family: arial; margin:0;}
h1, p , h2, h3, h4, div, ul, li{ text-align: center;}
td, th { text-align: center; border:1px solid #aaa; padding: 10px;}
th a { color: #660; text-decoration: none;}
table { margin: 20px auto; border-collapse: collapse;} 
tr:nth-child(even) { background: #ccc;}
h4 span { color: blue; font-weight: normal; font-size: 1.2em;}


.friends { margin-right: 20px; font-style:italic;}